.mark_favor {
    position: relative;
    right: 15px;
    bottom: 80px;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: coral;
    cursor: pointer;
}

.radio,
.checkbox {
    margin: 5px 10px 0px 0;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
    margin-right: 5px;
    margin-top: -2px;
    vertical-align: middle;
}

.radio input[type="radio"]:first-child,
.checkbox input[type="checkbox"]:first-child {
    margin-left: 0;
}



.checkbox {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox:hover input~.checkmark {
    background-color: #ccc;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    display: none;
}

.checkbox input:checked~.checkmark {
    background-color: #56B1EA;
}

.checkbox input:checked~.checkmark:after {
    display: block;
}

.checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, .015);
    border-radius: 1px;
}

.checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkbox.normal .checkmark {
    height: 18px;
    width: 18px;
}

.checkbox.normal .checkmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 1px 1px 0;
}

.checkbox.tiny {
    font-size: 12px;
}

.checkbox.tiny .checkmark {
    height: 14px;
    width: 14px;
}

.checkbox.tiny .checkmark:after {
    left: 5px;
    top: 0px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 1px 1px 0;
}