.icon_myaccount {
    background-image: url('chrome-extension://__MSG_@@extension_id__/start/static/icons/more-myaccount.png');
    background-size: cover;
}

.icon_googleplus {
    background-image: url('chrome-extension://__MSG_@@extension_id__/start/static/icons/more-plus.png');
    background-size: cover;
}

.icon_youtube {
    background-image: url('chrome-extension://__MSG_@@extension_id__/start/static/icons/more-youtube.png');
    background-size: cover;
}

.icon_drive {
    background-image: url('chrome-extension://__MSG_@@extension_id__/start/static/icons/more-drive.png');
    background-size: cover;
}

.icon_gmail {
    background-image: url('chrome-extension://__MSG_@@extension_id__/start/static/icons/more-gmail.png');
    background-size: cover;
}

.icon_documents {
    background-image: url('chrome-extension://__MSG_@@extension_id__/start/static/icons/more-docs.png');
    background-size: cover;
}

.icon_contacts {
    background-image: url('chrome-extension://__MSG_@@extension_id__/start/static/icons/more-contacts.png');
    background-size: cover;
}

.icon_photos {
    background-image: url('chrome-extension://__MSG_@@extension_id__/start/static/icons/more-photos.png');
    background-size: cover;
}

.icon_calendar {
    background-image: url('chrome-extension://__MSG_@@extension_id__/start/static/icons/more-calendar.png');
    background-size: cover;
}

.icon_news {
    background-image: url('chrome-extension://__MSG_@@extension_id__/start/static/icons/more-news.png');
    background-size: cover;
}

.icon_sheets {
    background-image: url('chrome-extension://__MSG_@@extension_id__/start/static/icons/more-sheets.png');
    background-size: cover;
}

.icon_hangouts {
    background-image: url('chrome-extension://__MSG_@@extension_id__/start/static/icons/more-hangouts.png');
    background-size: cover;
}

.icon_googlemap {
    background-image: url('chrome-extension://__MSG_@@extension_id__/start/static/icons/more-maps.png');
    background-size: cover;
}

.icon_classroom {
    background-image: url('chrome-extension://__MSG_@@extension_id__/start/static/icons/more-classroom.png');
    background-size: cover;
}

.icon_facebook {
    background-image: url('chrome-extension://__MSG_@@extension_id__/start/static/icons/share-facebook.png');
    background-size: cover;
}

.icon_twitter {
    background-image: url('chrome-extension://__MSG_@@extension_id__/start/static/icons/share-twitter.png');
    background-size: cover;
}

.icon_pinterest {
    background-image: url('chrome-extension://__MSG_@@extension_id__/start/static/icons/share-pinterest.png');
    background-size: cover;
}

.icon_tumblr {
    background-image: url('chrome-extension://__MSG_@@extension_id__/start/static/icons/share-tumblr.png');
    background-size: cover;
}

.icon_vk {
    background-image: url('chrome-extension://__MSG_@@extension_id__/start/static/icons/share-vk.png');
    background-size: cover;
}