@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/static/fonts/glyps/regular.eot');
    src: url('/static/fonts/glyps/regular.eot?#iefix') format('embedded-opentype'), url('/static/fonts/glyps/regular.woff2') format('woff2'), url('/static/fonts/glyps/regular.woff') format('woff'), url('/static/fonts/glyps/regular.ttf') format('truetype'), url('/static/fonts/glyps/regular.svg#glyphicons_halflingsregular') format('svg');
}