.icon_myaccount {
    background-image: url('chrome-extension://__MSG_@@extension_id__/static/icons/resources/myaccount.png');
    background-size: cover;
}

.icon_googleplus {
    background-image: url('chrome-extension://__MSG_@@extension_id__/static/icons/resources/plus.png');
    background-size: cover;
}

.icon_youtube {
    background-image: url('chrome-extension://__MSG_@@extension_id__/static/icons/resources/youtube.png');
    background-size: cover;
}

.icon_drive {
    background-image: url('chrome-extension://__MSG_@@extension_id__/static/icons/resources/drive.png');
    background-size: cover;
}

.icon_gmail {
    background-image: url('chrome-extension://__MSG_@@extension_id__/static/icons/resources/gmail.png');
    background-size: cover;
}

.icon_documents {
    background-image: url('chrome-extension://__MSG_@@extension_id__/static/icons/resources/docs.png');
    background-size: cover;
}

.icon_contacts {
    background-image: url('chrome-extension://__MSG_@@extension_id__/static/icons/resources/contacts.png');
    background-size: cover;
}

.icon_photos {
    background-image: url('chrome-extension://__MSG_@@extension_id__/static/icons/resources/photos.png');
    background-size: cover;
}

.icon_calendar {
    background-image: url('chrome-extension://__MSG_@@extension_id__/static/icons/resources/calendar.png');
    background-size: cover;
}

.icon_news {
    background-image: url('chrome-extension://__MSG_@@extension_id__/static/icons/resources/news.png');
    background-size: cover;
}

.icon_sheets {
    background-image: url('chrome-extension://__MSG_@@extension_id__/static/icons/resources/sheets.png');
    background-size: cover;
}

.icon_hangouts {
    background-image: url('chrome-extension://__MSG_@@extension_id__/static/icons/resources/hangouts.png');
    background-size: cover;
}

.icon_googlemap {
    background-image: url('chrome-extension://__MSG_@@extension_id__/static/icons/resources/maps.png');
    background-size: cover;
}

.icon_classroom {
    background-image: url('chrome-extension://__MSG_@@extension_id__/static/icons/resources/classroom.png');
    background-size: cover;
}

.icon_facebook {
    background-image: url('chrome-extension://__MSG_@@extension_id__/static/icons/share-icons/facebook.png');
    background-size: cover;
}

.icon_twitter {
    background-image: url('chrome-extension://__MSG_@@extension_id__/static/icons/share-icons/twitter.png');
    background-size: cover;
}

.icon_pinterest {
    background-image: url('chrome-extension://__MSG_@@extension_id__/static/icons/share-icons/pinterest.png');
    background-size: cover;
}

.icon_tumblr {
    background-image: url('chrome-extension://__MSG_@@extension_id__/static/icons/share-icons/tumblr.png');
    background-size: cover;
}

.icon_vk {
    background-image: url('chrome-extension://__MSG_@@extension_id__/static/icons/share-icons/vk.png');
    background-size: cover;
}