.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.switch input {
    display: none;
}

.switch input:checked+.slider {
    background-color: gray;
}

.switch input:focus+.slider {
    box-shadow: 0 0 1px #56B1EA;
}

.switch input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch .slider.round {
    border-radius: 34px;
}

.switch .slider.round:before {
    border-radius: 50%;
}

.switch .on,
.switch .off {
    margin-left: 46px;
}

.switch input:checked~.on {
    display: initial;
}

.switch input:checked~.off {
    display: none;
}

.switch input:not(:checked)~.on {
    display: none;
}

.switch input:not(:checked)~.off {
    display: initial;
}

.switch.mini {
    width: 30px;
    height: 14px;
}

.switch.mini input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.switch.mini .slider:before {
    height: 10px;
    width: 10px;
    left: 2px;
    bottom: 2px;
}

.switch.normal {
    width: 40px;
    height: 18px;
}

.switch.normal input:checked+.slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

.switch.normal .slider:before {
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
}