@font-face {
    font-family: 'sf-light';
    src: url('/start/static/fonts/Light.ttf');
    font-display: fallback;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/start/static/fonts/regular.eot');
    src: url('/start/static/fonts/regular.eot?#iefix') format('embedded-opentype'), url('/start/static/fonts/regular.woff2') format('woff2'), url('/start/static/fonts/regular.woff') format('woff'), url('/start/static/fonts/regular.ttf') format('truetype'), url('/start/static/fonts/regular.svg#glyphicons_halflingsregular') format('svg');
}