
.top_gradient {
    height: 10vw;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1), rgba(255, 0, 0, 0));
    opacity: 0.2;
    z-index: 0;
}

.bottom_gradient {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6vw;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(255, 0, 0, 0));
    opacity: 0.3;
    z-index: 0;
}