
@font-face {
    font-family: 'Rubik';
    src: url('/start/static/fonts/text/Rubik-Regular.ttf');
    font-display: fallback;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/start/static/fonts/icons/regular.eot');
    src: url('/start/static/fonts/icons/regular.eot?#iefix') format('embedded-opentype'), 
         url('/start/static/fonts/icons/regular.woff2') format('woff2'), 
         url('/start/static/fonts/icons/regular.woff') format('woff'), 
         url('/start/static/fonts/icons/regular.ttf') format('truetype'), 
         url('/start/static/fonts/icons/regular.svg#glyphicons_halflingsregular') format('svg');
}