@import url("parts/font-face.css");
@import url("parts/key-frames.css");
@import url("parts/my-apps-icons.css");
@import url("parts/scrollbar.css");
@import url("parts/glyphicons.css");

@import url("parts/countdown.css");
@import url("parts/background.css");
@import url("parts/switch.css");
@import url("parts/checkboxes.css");
@import url("parts/tooltip.css");
@import url("parts/dropdown.css");

@import url("parts/tour.css");

html {
    height: 100%;
    width: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: white;
}

body {
    height: 100%;
    width: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
    margin: 0;
    font-size: 80%;
    font-weight: 100;
    font-family: 'Rubik', sans-serif;
    background-image: none;
    background: transparent;
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position: center center !important;
}

* {
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}


h3 {
    margin: 0;
    font-size: 17px;
}

input:focus,
select:focus {
    outline: 0 !important;
}

*:focus {
    outline: 0 !important;
}

#search-suggestion-pad {
    list-style-type: none;
    padding: 0;
    margin: 0px;
    margin-top: 1px;
    background-color: white;
    border-color: #D7D7D7;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    position: absolute;
    width: 100%;
    z-index: 10;
    display: none;
}

#search-suggestion-pad li {
    font-size: 15px;
    padding: 5px;
    height: 27px;
    cursor: pointer;
}

#search-suggestion-pad li.selected {
    background-color: #D7D7D7;
}

nav {
    display: flex;    
    align-items: center;
    height: 40px;
    z-index: 11;
    position: absolute;
    top: 20px;
    right: 20px;
    justify-content: flex-end;
}

footer {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    min-height: 50px;
    bottom: 0;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.to-do {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.hide_panel {
    transform: translateY(40px) !important;
}

.restoreBtn {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAALVklEQVR4Xu1dCfB+1Rh+HoysWZJQFEqrdWyVlBaTFmmxRtZCM5bKmDYyk6VMU2GmKE0qY8laUSiGIhGS0pQtlIQQEjJ6zPOf82u+3/9371m+e+/33e/77jvzTcvvnPee8z733HPe97wLMVCvJMBejWYYDAZAevYSDIAMgJRLQNKjAWwGYFMAmwPwfz8IwP0BrAlgrcD1FgB/D7+/APg5gJ8CuBrAlST9/3pNvVshku4H4JkAtgo///sDWpLiDQC+PfK7iqRa4t0Km14AIuneAPYEsC+A5wK4RyuzSzO5GcAnAJxF8sfp5t23mCogkp4M4JAAxn26n270CdcC+CiAU0n6szcVmgogAYh3A9hlKrOOP/QfAZgPkPzNpMc3UUAkeUM+FsCuk57omM87E8DbSP5pzP7F3SYCiCRvykcDOBDA3YtHOd0OfwNwJICTSN7Z9VA6B0TSawC8f+Ro2vWcuuJ/FYD9ut78OwNE0n0BnAFg7xYkdDuA7wL4BYBfAbgewO8A/BXAreGffsyDATww6CiPBPCY8NsIwLNbGIdZHELy+BgvSW8F8BmSHmMRdQKIpI0BfBHAJkWjWd74CgAXAPgayW814LOqazhaPyccJJ4PwICNSxcBeDnJP6zOQNI+BgPAPiQ/V/qA1gGR5Ml+EsA4x9gbw6o6k+TPSidT0l6SwbHe82IAVkZLyRv9LiR/sNRR0rMAXBL++3iSPtIXUauASNoPwOkA7lY0CuCbAI4DcP6kNWdJfnFeC+BgABsUjvvfBpTkueGr4M+qTTqmy0huWcivPWuvpEMBvK9wAP4kHUHSn6epk6SXhtPgYwsHcwwA911/tB/J4he+uEPVQCWdAMAbWS792e1Jfjy3wyTbSToIwLuC4bLJo7ckeVkJg8aASDoMwHsLHvppAG8k6RNSb0mSLcgfA7Bbg0EeRPLEkv6NAJH0yjDonGf+B4AHeHJO4760kXR4+IyV7ouego++LyqZy9iASLJ19vOZD7PZe0+SP8xs36tmknYMR1nrOCV0A8lHlXQYCxBJ3vR+knm0vRTA7rNwORQTnCRv2NY/NiwRMIB1Sd6U26cYkHBMvDzc4KWeczpJm07mgiT5dtKgPK1gQkUK4jiArNJCMwZ0GsnXZbSbmSZB1/h+4enrBJLWcbKoCBBJLwlaeIr5eSStsc8NSVoHwPdW1zUyJngpya0z2q1qkg2IJG9odhp4SIK536DtSP4rdxB9bxc+094LnzjOWEsUxBJAfFx9Q2JAtrxuMY6Vc5yJTqKPJMvoSw1vN7MVxCxAJD0FgI1oqfY2ttkcMjck6SMADmg4oYNJ2pqRpJSAVzGQZAumLZkxOpmkbwTnioJbko+86wKwTmGz/Xrht/Tv9g+L0dkkbVVOUhIQSdsAuDjByYrfJiR9kbRwVAGaAVsCyyDeSdL+BEnKAcTn7h0SnHYi6XYDNZRAFBBJ9hq0jb+V5dhwrAvRPQWIb/6se9SR3TA3Junj8EAtSKAWkHD29r3FvSLPmTsFsAWZNmIRA8TXmnatjNE2JO28PFBLEogB4nvubSPPuYKk9ZOBWpRAJSCSHgbg94nnvJnkh1ocy8CqTvMOl/12068ju1SuQ9IBMgO1KIG6FZIyFwybeYsgjLKqA8ROana/rCM7KXy4ozEtNNsVgEh6OIDUleOGJH+50JLraPJVgDiI5suR591IsolfbEdTmQ+2VYDYSSzm3e14PLuMDtSBBKoAOQXA/pFn2fWzxDGug2HPL8sqQGxqt8m9joq8KOZXdN3MrAoQB8PEvMA3J3lNN8MZuFYB4thte1jU0dqDQtjdi1MFiJ2gYy6Ta5J06PBAHUigCpB/JlxE1yB5RwdjGVhW2bIkRXN/lPgYDRIul0DVCnHYwD0jrIYVkilnSZaj5VlHd5BcY/SPVYD4ltDhxXW01qx7smfKs3GzEPQTs4jfQnLtFCC/Tvivrk/yt41HuwAMJFl9sBpRR9eTdCz9XVS1QpyxYIsIk0EPyXyZJD0+xNHU9XBStSelAPEdecxbeweS38gc00I3k+TcX1+NCOFiksuuyatWiG8KHeJbRwfOWpzgtN4KSW8BEAv6XGGorQLkqBASXDePE0naIjxQQgKSTnLEcaTZCkNtFSB2Cv5UhMkFJPuYeKx3L4gkf9qdwqOO9iL5hdQe4rR7P4owuc0hXZNOgdE7aadXh8Oo7Xy+TM9YrduKA1LVCnFCypQX+9NJOvBzoBoJSHI6qFgWo9tJOoXVMqpzckidtA4nWZrXZKHAk+SckkdEJn0hSZ/CsgBJMbuEZFsJweYSKEn+7PvzX0eHkXTSmixAnLngwoSk1punWMI234oQPu20szHaiuSKUI+6T1bOPnIkyfe0OZF54SXJmVffHpnPbSQrw+BiztZOT7dXhOl1JJuk8JsX+a+YhyTnWnxEZIJnkHxV1d9jgLwAwLIzcgWDnUnGTANzK/S6iWUmV9iR5NdLAXH+9T+OpKyr6n8RyZ0WTuqRCUtKGWdvIumI3kpKhbSlVH8zfQJJD2LhSZKDY1PBr8eQdNK3sQBxzQ7X34iRE1fOSurwTl8aSU6/kUp8Gb1PygmLdpIyJyuL0QqbTKcz7yFzSa8HkIoISGZIygEkZduyeOzLZY94e6wsHEl6KABHA8Ty/zrIaQOSTrJQS0lA3FOSveFTFt5TSPotWTiS5OQ0qc+2k0M7R2WUcgHxla4r0KQqG+xNMjcPY2psM/F3SW8C8MHEYJ2qaqMcy0YWIGGVOPN0KnW2PRo3I+mU4XNPknzocRLomNuU5XAoSWvvSSoBxCm5HepWe4YOT7NZftt5SmBWJcWQ0M1zTSXFvCY38Yyfkw1IWCU52rubnkPSbeeSQqUFh208NWOCW5P0cTiLigAJoJwKICe55Vxu8iHD3PkAds6Q8NEk35nR7q4m4wDiK0nb+v39TJErJexP8n+phrPw91Ck5uyME6en40wY25dedRcDElZJaSLlXUk6H+PMkiQnJfMdUY6F24VefLgpriw6FiABlN0BnJspYZcpsjZ/ZWb7XjULNioXEVgq8ZoaX3bSy9UZjQ1IAMVZq09LjS783V7grybpHFwzQWG/eAcA+6rlJOP3p/l5JFO3rbXzbwRIAKW0XIUBdJWEXkdhhQQKLmpWcr2wL8lYjpjki9gYkACK49pLvBlt+zqA5HnJEU6hgSRnV7UiV1KbqpV0I60AEkBx8UUXjyyhz7poI8nrSjp11VbSdgDsJ+BK1SX0srY+xa0BEkAZtyiYky8fNw2vekm2z70wmIVyFL1RoGyj2qPJntHqpl71CknaI5TEHqdsnk3Yrj9rJ4BOCwNLcskJJ/h8BYBlUUyZS8ORUbuRdIL+1qjVFbI0qmB0OyfDzhObiH2WvhIKSxYV1qp5UZzM07EYvmb1S/O4BlL8jlcVyVTWveJHdAJI+HzZ78hV2NooW+H65rYHeQVZp3EJVjtgWNm8leTNwb7kGoL+Oc5+tPSqDYCx/JElgus0HKMzQEZWiy+tfGJxxehZJsdVOlgplrqq8fw6BySsFmu4Pr04y1COgtV4Yi0ycDVP++DaWyQW4tzKIycCyMhqcVpZl/JO5ZJvZXItMDkLgD39J3bhNlFARoBx6QtX0uwjMHZGcATZUSS9V02UpgLIasD4Trqo+GJHEvIBwXY2V3meOBBLc5oqICPA+ES2dyinvf0E9xkrdjbf2P5kh7//dgR2NtteADI6Wkk+jdn7z7HyNmE8A8CK0K/sGS5v6Bro1m+sR/gYffkkNuqSsfYOkKrBS3IO4U0BuEqNbypdgsi6hleWiz0u5WZxnhbrLP75csifHme/uxrAtZPcnEtAGG07E4CMO7lZ7DcA0jPUBkAGQHomgZ4N5//C41iS4i65JQAAAABJRU5ErkJggg==') !important;
    background-size: cover;
}

.quotes {
    width: 90%;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.quote {
    width: 66%;
    margin: 0 auto;
    color: white;
    font-weight: 100;
    text-decoration: none;
    font-size: 15px;
}

nav a,
footer a,
#background_selector_menu {
    display: inline-block;
    margin: 0 15px 0 10px;
    color: white;
    font-weight: 100;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    line-height: 30px;
}

.nav_menu {
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.75);
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.33);
}

.nav_menu a i {
    float: left;
    display: inline-block;
    margin: 7px 10px 7px 4px;
    height: 16px;
    width: 16px;
    border-radius: 3px;
}

#support_menu {
    position: absolute;
    bottom: 40px;
    width: 120px;
    text-align: center;
    z-index: 10;
}

#share_menu {
    position: absolute;
    min-width: 120px;
    text-align: left;
    right: 0px;
    top: 40px;
}

#topsites_menu {
    position: absolute;
    min-width: 330px;
    max-width: 500px;
    text-align: left;
    right: 0px;
    top: 40px;
}

#tool_menu {
    position: absolute;
    min-width: 220px;
    right: 0px;
    top: 40px;
}

#support_menu hr,
#share_menu hr,
#topsites_menu hr,
#tool_menu hr {
    opacity: 0.4;
}

#support_menu div,
#share_menu div,
#topsites_menu div,
#tool_menu div {
    margin: 5px 10px;
    height: 30px;
    overflow: hidden;
}

#topsites_menu>div,
#tool_menu>div {
    position: relative;
}

#support_menu a,
#share_menu a,
#topsites_menu a,
#tool_menu a {
    margin: auto 0;
}

#topsites_menu>div:hover .closebtn:after,
#tool_menu>div:hover .closebtn:after {
    opacity: 0.8;
}

#topsites_menu a {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.closebtn {
    display: inline-block;
    width: 10%;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 !important;
    cursor: pointer;
    display: none;
}

.closebtn:after {
    content: '';
    display: inline-block;
    width: 21px;
    padding: 5px;
    right: 0;
    background-size: contain;
    position: absolute;
    box-sizing: border-box;
    background-position: center center;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.2s;
    display: none;
}

.close {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 3px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer !important;
    opacity: 0.7;
    transition: all 0.2s;
}

.close:hover {
    opacity: 1;
}



.widght {
    /*text-align: right;*/
    position: absolute;
    top: 20px;
    left: 10px;
    color: white;
    display: inline-block;
    height: 70px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.toggle {
    display: inline-block;
}

.toggle a+a {
    text-align: center;
}

.search-box {
    width: 30%;
    position: absolute;
    margin: auto;
    top: 15px;
    left: 0;
    right: 0;
}

.time {
    width: 220px;
    display: inline-block;
    vertical-align: top;
}

.weather {
    width: 220px;
    text-align: left;
    display: inline-block;
    display: none;
    vertical-align: top;
}

.weather:after {
    clear: both;
    width: 100%;
    content: "";
    display: block;
}

.weather .fright {
    float: left;
    text-align: left;
    font-size: 15px;
}

.weather .fright img {
    vertical-align: top;
    margin-right: 0;
    height: auto;
    margin-top: -3px;
    margin-bottom: 3px;
}

.weather h1 {
    margin-right: 5px;
    float: left;
    font-size: 50px;
    font-weight: 100;
    margin-top: 0;
    vertical-align: top;
    margin-bottom: 0;
    line-height: 40px;
}

.weather h1 .units {
    font-size: 30px;
}

.weather h1 em {
    font-style: normal;
    font-size: 35px;
    vertical-align: top;
    display: inline-block;
    margin-top: -3px;
}

h1.hour {
    font-size: 50px;
    display: inline-block;
    font-weight: 100;
    margin-top: 0;
    vertical-align: top;
    margin-bottom: 0;
    line-height: 40px;
}

.ampm {
    font-size: 15px;
    display: inline-block;
    text-align: left;
    margin-top: -5px;
    vertical-align: top;
    margin-bottom: 0;
}

.date {
    text-align: left;
    margin-top: 5px;
    vertical-align: top;
}

.date p {
    display: inline-block;
    font-size: 15px;
    margin: 0 5px 0 0;
}

.widght a,
#weather {
    width: 35px;
    height: 35px;
    display: inline-block;
    vertical-align: top;
}

.widght img {
    height: 25px;
    margin-right: 6px;
}

#error_box {
    position: absolute;
    top: 80px;
    right: 35px;
    color: white;
    display: inline;
}

#delete_button {
    cursor: pointer;
    opacity: 0.2;
}

#delete_button:hover {
    opacity: 0.8;
}





#color_picker {
    width: 103px;
    border: none !important;
    height: 25px;
    /* border-radius: 50%; */
    overflow: hidden;
    padding: 0;
    background-color: transparent !important;
}

#color_picker::-webkit-color-swatch-wrapper {
    padding: 0;
    background-color: transparent !important;
}

#color_picker::-webkit-color-swatch {
    border: none;
    background-color: transparent !important;
}

.color {
    position: relative;
    width: 130px;
}

.color h3 {
    position: relative;
    pointer-events: none;
    background-color: white;
    height: 100%;
    z-index: 300;
}

.color:hover h3 {
    text-decoration: underline;
}

.bgFooter {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0 0 0;
    margin-top: 25px;
    border-top: 1px solid #E0E0E0;
    display: inline-table;
}

.bgFooter .bg-f-r {
    display: flex;
}

.bgFooter .bg-f-c {
    flex-grow: 1;
    width: 33.3333%;
}

.bgFooter #change_city_box {
    border-top: 1px solid #F3F3F3;
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.bgFooter .f-heading {
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 7px;
}

.bgFooter .booting-options {
    padding-top: 7px;
}

.bgFooter .inline {
    display: inline-block !important;
}

.bgFooter .booting-options .radio {
    display: inline-block;
}

#close_background_selector_widget {
    min-width: 100px;
    height: 30px !important;
    padding: 5px;
    line-height: 20px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    color: #5E5E5E;
    background-color: #E4E4E4;
    border: none;
    float: right;
}

.widght .time,
.widght .weather {
    cursor: pointer;
}

#colors_selector {
    border: none;
    padding: 10px 4px 0 !important;
    width: 450px;
    z-index: 15;
}

#colors_selector ul {
    padding: 0;
}

#colors_selector li {
    width: 20px !important;
    height: 20px;
    border-radius: 50%;
    border: solid 1px gray;
    overflow: hidden;
    display: inline-block;
    margin-right: 8px;
    cursor: pointer;
}



#search-box-wrapper {
    top: 15px;
    left: 0;
    right: 0;
    width: 100%;    
}

#search-box {
    width: 100%;
    margin: 0;
    height: 45px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-box .search-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5px;    
    cursor: pointer;
    border-radius: 5px;
    padding: 7px;
    background-color: rgba(44, 62, 80,0.5);
}

#search-box .dropdown,
#search-box .searchBtn {
    display: none;
}

#search-input {
    width: 100%;    
    box-shadow: none;
    height: 50px;
    line-height: 45px !important;
    border: none;    
    font-family: inherit;
    transition: all 0.32s;
    outline: none;
    background-color: rgba(99, 110, 114,0.6);
    font-size: 20px;    
    padding-left: 20px;    
    color: white;
    border-radius: 5px;
}
#search-input::placeholder {
    color: white;
}


div.color,
#colors_selector {
    display: none;
}

.background {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    background: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center !important;
}

.row {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    align-items: center;
}

.top_gradient {
    height: 10vw;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1), rgba(255, 0, 0, 0));
    opacity: 0.2;
    z-index: 0;
}

.bottom_gradient {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6vw;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(255, 0, 0, 0));
    opacity: 0.3;
    z-index: 0;
}


