.radio,
.checkbox {
    margin: 5px 10px 0px 0;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
    margin-right: 5px;
    margin-top: -2px;
    vertical-align: middle;
}

.radio input[type="radio"]:first-child,
.checkbox input[type="checkbox"]:first-child {
    margin-left: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.switch input {
    display: none;
}

.switch input:checked+.slider {
    background-color: #56B1EA;
}

.switch input:focus+.slider {
    box-shadow: 0 0 1px #56B1EA;
}

.switch input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch .slider.round {
    border-radius: 34px;
}

.switch .slider.round:before {
    border-radius: 50%;
}

.switch .on,
.switch .off {
    margin-left: 46px;
}

.switch input:checked~.on {
    display: initial;
}

.switch input:checked~.off {
    display: none;
}

.switch input:not(:checked)~.on {
    display: none;
}

.switch input:not(:checked)~.off {
    display: initial;
}

.switch.mini {
    width: 30px;
    height: 14px;
}

.switch.mini input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.switch.mini .slider:before {
    height: 10px;
    width: 10px;
    left: 2px;
    bottom: 2px;
}

.switch.normal {
    width: 40px;
    height: 18px;
}

.switch.normal input:checked+.slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

.switch.normal .slider:before {
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
}

.checkbox {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox:hover input~.checkmark {
    background-color: #ccc;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    display: none;
}

.checkbox input:checked~.checkmark {
    background-color: #56B1EA;
}

.checkbox input:checked~.checkmark:after {
    display: block;
}

.checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, .015);
    border-radius: 1px;
}

.checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkbox.normal .checkmark {
    height: 18px;
    width: 18px;
}

.checkbox.normal .checkmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 1px 1px 0;
}

.checkbox.tiny {
    font-size: 12px;
}

.checkbox.tiny .checkmark {
    height: 14px;
    width: 14px;
}

.checkbox.tiny .checkmark:after {
    left: 5px;
    top: 0px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 1px 1px 0;
}