.icon_myaccount {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/icons/google-apps/myaccount.png');
    background-size: cover;
}

.icon_googleplus {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/icons/google-apps/plus.png');
    background-size: cover;
}

.icon_youtube {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/icons/google-apps/youtube.png');
    background-size: cover;
}

.icon_drive {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/icons/google-apps/drive.png');
    background-size: cover;
}

.icon_gmail {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/icons/google-apps/gmail.png');
    background-size: cover;
}

.icon_documents {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/icons/google-apps/docs.png');
    background-size: cover;
}

.icon_contacts {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/icons/google-apps/contacts.png');
    background-size: cover;
}

.icon_photos {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/icons/google-apps/photos.png');
    background-size: cover;
}

.icon_calendar {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/icons/google-apps/calendar.png');
    background-size: cover;
}

.icon_news {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/icons/google-apps/news.png');
    background-size: cover;
}

.icon_sheets {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/icons/google-apps/sheets.png');
    background-size: cover;
}

.icon_hangouts {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/icons/google-apps/hangouts.png');
    background-size: cover;
}

.icon_googlemap {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/icons/google-apps/maps.png');
    background-size: cover;
}

.icon_classroom {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/icons/google-apps/classroom.png');
    background-size: cover;
}

.icon_facebook {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/icons/share-icons/facebook.png');
    background-size: cover;
}

.icon_twitter {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/icons/share-icons/twitter.png');
    background-size: cover;
}

.icon_pinterest {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/icons/share-icons/pinterest.png');
    background-size: cover;
}

.icon_tumblr {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/icons/share-icons/tumblr.png');
    background-size: cover;
}

.icon_vk {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/icons/share-icons/vk.png');
    background-size: cover;
}