.icon_myaccount {
    background-image: url('chrome-extension://__MSG_@@extension_id__/entryPoint/static/icons/apps/myaccount.png');
    background-size: cover;
}

.icon_googleplus {
    background-image: url('chrome-extension://__MSG_@@extension_id__/entryPoint/static/icons/apps/plus.png');
    background-size: cover;
}

.icon_youtube {
    background-image: url('chrome-extension://__MSG_@@extension_id__/entryPoint/static/icons/apps/youtube.png');
    background-size: cover;
}

.icon_drive {
    background-image: url('chrome-extension://__MSG_@@extension_id__/entryPoint/static/icons/apps/drive.png');
    background-size: cover;
}

.icon_gmail {
    background-image: url('chrome-extension://__MSG_@@extension_id__/entryPoint/static/icons/apps/gmail.png');
    background-size: cover;
}

.icon_documents {
    background-image: url('chrome-extension://__MSG_@@extension_id__/entryPoint/static/icons/apps/docs.png');
    background-size: cover;
}

.icon_contacts {
    background-image: url('chrome-extension://__MSG_@@extension_id__/entryPoint/static/icons/apps/contacts.png');
    background-size: cover;
}

.icon_photos {
    background-image: url('chrome-extension://__MSG_@@extension_id__/entryPoint/static/icons/apps/photos.png');
    background-size: cover;
}

.icon_calendar {
    background-image: url('chrome-extension://__MSG_@@extension_id__/entryPoint/static/icons/apps/calendar.png');
    background-size: cover;
}

.icon_news {
    background-image: url('chrome-extension://__MSG_@@extension_id__/entryPoint/static/icons/apps/news.png');
    background-size: cover;
}

.icon_sheets {
    background-image: url('chrome-extension://__MSG_@@extension_id__/entryPoint/static/icons/apps/sheets.png');
    background-size: cover;
}

.icon_hangouts {
    background-image: url('chrome-extension://__MSG_@@extension_id__/entryPoint/static/icons/apps/hangouts.png');
    background-size: cover;
}

.icon_googlemap {
    background-image: url('chrome-extension://__MSG_@@extension_id__/entryPoint/static/icons/apps/maps.png');
    background-size: cover;
}

.icon_classroom {
    background-image: url('chrome-extension://__MSG_@@extension_id__/entryPoint/static/icons/apps/classroom.png');
    background-size: cover;
}

.icon_facebook {
    background-image: url('chrome-extension://__MSG_@@extension_id__/entryPoint/static/icons/sharing/facebook.png');
    background-size: cover;
}

.icon_twitter {
    background-image: url('chrome-extension://__MSG_@@extension_id__/entryPoint/static/icons/sharing/twitter.png');
    background-size: cover;
}

.icon_pinterest {
    background-image: url('chrome-extension://__MSG_@@extension_id__/entryPoint/static/icons/sharing/pinterest.png');
    background-size: cover;
}

.icon_tumblr {
    background-image: url('chrome-extension://__MSG_@@extension_id__/entryPoint/static/icons/sharing/tumblr.png');
    background-size: cover;
}

.icon_vk {
    background-image: url('chrome-extension://__MSG_@@extension_id__/entryPoint/static/icons/sharing/vk.png');
    background-size: cover;
}